

<div class="container main-container" id="action_div2">



	<div class="table-wrapper">


		<div class="row main-heading">

			<div class="col-sm-8">
				<h1>
					Item's <b>Structure</b>
				</h1>
			</div>
			<div class="col-sm-4">
				<button data-bind="click: AddUser" type="button"
					class="btn btn-info main-add-new">
					<i class="fa fa-plus"></i>&emsp;Add New
				</button>
				


			</div>
		</div>


		<div class="table-title">
			<div class="row">
				<div class="col-sm-8">
					<h2>
						Structure <b>Details</b>
					</h2>
				</div>

			
			</div>
		</div>





		<div
			class="table-responsive table-wrapper-scroll-y my-custom-scrollbar tableFixHead">
		
			<table class="table table-bordered table-fixed table-striped mb-0">
				<thead>
					<tr>
						<th>Structure ID</th>
						<th>Lifecycle Phases</th>
						<th>Created By</th>
						<th>Creation Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: itemstructure">
					<tr>
						<td data-bind="text: structureId"></td>
						<td data-bind="text: lifecyclePhases"></td>
						<td data-bind="text: createdBy"></td>
						<td data-bind="text: creationDate"></td>


						<td><a data-bind="click: $root.EditUser" class="edit"><i
								class="material-icons">&#xE254;</i></a> <a
							data-bind="click: $root.DeleteUser" class="delete"><i
								class="material-icons">&#xE872;</i></a></td>
					</tr>



				</tbody>

			</table>
		</div>

	</div>

	<!-- Add Item modal -->


	<div class="modal fade bs-example-modal-lg" id="exampleModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-header-title">
						<h5 class="modal-title" id="exampleModalLabel">
							New <b>Structure</b>
						</h5>
					</div>
					<div class="modal-header-close">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Lifecycle
								Phases:</label> <input type="text"
								data-bind="textInput: lifecyclePhases" class="form-control"
								id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Created
								By:</label> <input type="text" data-bind="textInput: createdBy"
								class="form-control" id="recipient-name">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="modal-button btn btn-secondary "
						data-dismiss="modal">
						<b>Close</b>
					</button>
					<button type="submit" data-bind="click: handleAdd"
						class="btn btn-info modal-button">
						<b>Save Structure</b>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit modal -->

	<div class="modal fade bs-example-modal-smss" id="exampleModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-header-title">
						<h5 class="modal-title" id="exampleModalLabel">
							Edit <b>Structure</b>
						</h5>
					</div>
					<div class="modal-header-close">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label"><b>Lifecycle
									Phases:</b></label> <input type="text"
								data-bind="textInput: lifecyclePhases" class="form-control"
								id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Created
								By:</label> <input type="text" data-bind="textInput: createdBy"
								class="form-control" id="recipient-name">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="modal-button btn btn-secondary "
						data-dismiss="modal">
						<b>Close</b>
					</button>
					<button type="submit" data-bind="click: handleEdit"
						class="modal-button btn btn-info ">
						<b>Save Structure</b>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete warning! -->
	<div id="myModal" class="modal  fade bs-example-modal-del">
		<div class="modal-dialog modal-size modal-dialog-centered ">
			<div class="modal-content modal-content-style">
				<div class="modal-header">
					<div class="modal-header-close">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<h4 class="modal-title">Are you sure?</h4>


				</div>
				<div class="modal-body">
					<p>Do you really want to delete these records?</p>
					<p>This process cannot be undone.</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancel</button>
					<button type="button" data-bind="click: handleDelete"
						class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>



